<section id="contact" class="py-40">
    <div class="container">
        <a href="/#contact" class="block max-md:text-3xl text-center text-4xl font-bold"><span class="text-sky-600"># </span>Contact Me</a>
        <p class="text-xl text-center mt-10 max-md:text-lg max-w-4xl mx-auto">
            Semua perjalanan dimulai dengan sebuah percakapan. Mari kita diskusikan ide-ide menarik bersama!
        </p>
        <p class="text-xl text-center mt-5 max-md:text-lg max-w-4xl mx-auto">
            Kamu bisa menghubungiku lewat email <kbd>kalokaradia@gmail.com</kbd> atau <kbd>kalokaradiananda@gmail.com</kbd>.
        </p>
    </div>
</section>
