<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Portfolio - Kaloka Radia Nanda</title>
		{% block css_files %}{% endblock css_files %}
	</head>
	<body class="overflow-x-hidden overflow-y-scroll leading-relaxed">
		{% block navbar %}{% endblock navbar %}
		{% block jumbotron %}{% endblock jumbotron %}
		{% block about %}{% endblock about %}
		{% block projects %}{% endblock projects %}
		{% block skills %}{% endblock skills %}
		{% block experience %}{% endblock experience %}
		{% block gallery %}{% endblock gallery %}
		{% block contact %}{% endblock contact %}
		{% block footer %}{% endblock footer %}


		{% block js_files %}{% endblock js_files %}
	</body>
</html>
